.bottom-part{
    background: #6F7985;
    height: 100px;
    width: 100%;
    border: 1px  solid #213D4B;
}

.sm{
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;

}

.text{
    color: black;
    padding-top: 2%;
}

.linkedin{
  color: black;
}
