.fullTaskerPage{
  height: 100vh;
  width: 100vw;
  background: #F9FAFB;
}

.logoholder{
  width: 77px;
  height: 61px;
}

.viewTasker{
  width: 64px;
  height: 45px;
}

.security{
  width: 65px;
  height: 64px;
}

.pickTaskerText{

}

.pickTasker{}

.pickText{

}
