



// .taskcreate{
//   // width: 470px;
//   // height: 380px;
//   background: #E8EBEF;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }

.taskfullpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tcreate{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tconfirm{
display: flex;
justify-content: center;
}

.taskcreatebutton{
  width:20%;
  border: 1px solid #51AF33;
  border-radius: 4px;
  height: 7vh;
  color: #51AF33;
  background: white;
  font-size: 17px;
  &:hover {
  background-color: #51AF33;
  color: white;
}
}



// .taskcreate{
//   display: flex;
//   justify-content: center;
// }
