// .index__layout_container{
//   display: flex;
// flex-direction: row;
//   padding-left: 300px;
//   padding-right: 300px;
//   width: 600px;
//   height: 200px;
//     justify-content: center;
//     flex-wrap: wrap;
// }


.categories-container{
  display: flex;
  background-image: image-url('9.jpg');
  height: 120vh;
  width: 100vw;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;;
}

.splash-links{
  display: flex;
}

.categories-bar{

  margin: 170px;
  height: 380px;
  width: 1500px;
  display: flex;
  justify-content:  space-around;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
}

.linkclass{
  border: 1px solid #51AF33;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  height: 7vh;
  background: white;
  color: #51AF33;
  font-size: 17px;
  text-Decoration:none;
  &:hover {
  background-color: #438E2A;
  color: white;
}
}


.maintitle{
  text-align: center;
position: relative;
bottom: 100px;
font-size: 2.7rem;
font-weight: 100;
line-height: 57px;;
color: #242A2F;
font-family: 'Montserrat', sans-serif;
// font-family: "Proxima", Arial, Helvetica, sans-serif;
font-style: normal;
}

.subTitle{
    line-height: 1.4;
    position: relative;
    bottom:70px;
    text-align: center;
    font-size:1.2rem;
    color:#282828;
    font-family: "Proxima", Arial, Helvetica, sans-serif;
}

// .searchContainer{
// position: relative;
// }

// .searchContainer input{
//   width: 400px;
//   padding-left: 20px;
// }
.searchContainer input{
width: 400px;
border: none;
position: relative;
left: 15px;
}

.searchContainer{
border: 1px solid #DCE0E6;
    width: 40vw;
    min-width: 150px;
    border-radius: 5px;
    margin-top: 20px;
    height: 50px;
    padding: 10px;
    display: flex;
  }

  .logoPart1{
    color:#264E1A;
    font-family: 'FredokaOne-Regular';
    position: relative;
    bottom: 30px;
    left: 71px;

}
.icon{
    width:50px;
    height:50px;
    margin-left: 16px;
    align-self: center;
    font-weight: bold;
    background-image: image-url("/assets/rabbiticon.png");
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    top: 5px;
}
.logoPart2{
    margin-left: .1px;
    color:#55AD3C;
    font-family: 'FredokaOne-Regular';
}

.alltaskCategories{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 105px;
  justify-content: space-around;
}


.eachCategory{
  border: 1px solid #51AF33;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  height: 42px;
  background: white;
  color: #51AF33;
  font-size: 17px;
  text-Decoration:none;
  margin: 5px;
  margin-bottom: 10px;
  width: 240px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  &:hover {
  background-color: #438E2A;
  color: white;
}
}
