.fullTaskerPage{
  height: 102%;
  width: 100%;
  background: #F9FAFB;

}

.logoholder{
    width: 100vw;
  height: 61px;
  background: white;
  border-bottom: 1px solid #DCE0E5;
}

.viewTasker{
    width: 100vw;
  height: 45px;
  background: white;
  border-bottom: 1px solid #DCE0E5;
  border-top: 1px solid #DCE0E5;
}

.security{
  width: 100vw;
  height: 64px;
  background: #E8EBEF;
}

.pickTaskerText{
  width: 100vw;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.pickTasker{
  width: 1200px;
  height: 45px;
  font-size: 38px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  text-align: center;
  margin-top: 50px;
}

.pickText{
  width: 1120px;
  height: 25px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #565B5F;
}

.sorted{
  width:100vw;
  height: 95px;
}

.taskerdetails{
  width: 790px;
  height: 450px;
  background: white;
  border: 1px solid #DCE0E5;
  border-radius: 4px;
  margin-right: 100px;
  margin-left: 440px;
  margin-bottom: 35px;
}

.calendar{
  width: 380px;
  height: 200px;
  background: white;
  margin-left: 35px;
  margin-right: 30px;
  position: relative;
  top: 205px;
  border: 1px solid #DCE0E5;
  border-radius: 4px;
  padding-left: 20px;
}

.alltaskers{
  height: 102%;
  width: 100%;
}

.taskerphoto{
  width: 200px;
  height: 213px;
  margin-left: 30px;
  margin-top: 30px;
}

.taskername{
  width: 300px;
  height: 45px;
  margin-left: 262px;
  margin-top: 42px;
  margin-right: 52px;
  position: relative;
  bottom: 230px;
  left: 210px;
  font-size: 2em;
    font-weight: bold;
}

.taskerrate{
  width: 120px;
  height: 35px;
}

.stars{
  width: 180px;
  height: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  position: relative;
  bottom: 220px;
  left: 240px;

}

.help{
  font-family: "Proxima", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  position: relative;
  bottom: 168px;
  left: 243px;
  font-weight: 500;
  border-top: 1px solid #DCE0E5;
  width: 508px;
  height: 25px;
}

.description{
  width: 545px;
  height: 300px;
  position: relative;
  bottom: 165px;
  left: 243px;
}

.calendar input {
  margin-right: auto;
  margin-left: auto;
}
