.fullTaskerPage{
  display: flex;
flex-direction: column;
  background: #F9FAFB;
}


.bottompart{
  display: flex;
  margin-top: 160px;
}

.logoholder{
  background: white;
  border-bottom: 1px solid #DCE0E5;
}

.viewTasker{
  background: white;
  border-bottom: 1px solid #DCE0E5;
  border-top: 1px solid #DCE0E5;
  display: flex;
  justify-content: space-around;
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: 'Roboto', sans-serif;
}

.security{
  background: #E8EBEF;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.pickTaskerText{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.pickTasker{
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-align: center;
  margin-top: 50px;
}

.pickText{
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #565B5F;
  margin-bottom: -140px;
  margin-top: 10px;
}


.taskerdetails{
  background: white;
  border: 1px solid #DCE0E5;
  border-radius: 4px;
  margin-bottom: 35px;
  display: flex;
}

.leftside{
  width: 30%;
}

.rightside{
  width: 70%;
}

.calendar{

  background: white;
  margin-left: 35px;
  margin-right: 30px;
  border: 1px solid #DCE0E5;
  border-radius: 4px;
  padding-left: 20px;
  flex:1;
  height: 270px;
  position: sticky;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.alltaskers{
flex:3;
margin-right: 35px;
}

.taskerphoto{
  width: 50%;
  height: 40%;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 70%;
  background: black;
}

.taskername{
  margin-top: 40px;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.taskerrate{
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
  margin-right: 48px;
  font-family: 'Montserrat', sans-serif;
}

.stars{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 24px;
  color: #515559;
  margin-top: 20px;
  margin-bottom: 15px;
}

.help{
  font-family: "Proxima", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  font-weight: 700;
  border-top: 1px solid #DCE0E5;
  padding-top: 20px;
  margin-right: 30px;
}

.description{
  font-size: 16px;
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
  // font-family: "Proxima", Arial, Helvetica, sans-serif;
  color: #515559;
  padding-right: 38px;
  line-height: 1.5;
  letter-spacing: 1.5;
}

.calendar input {
  margin-right: auto;
  margin-left: auto;

}

.namerate{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trust{
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
}

.vet{
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #262C32;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
}

.task{
  width:12vw;
  height: 8vh;
  border-radius: 4px;
  background: #51AF33;
  font-size: 17px;
  margin-left: 34px;
  text-align: center;
  padding-top: 12px;
  margin-top: 25px;
  &:hover {
  background-color: #438E2A;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}
}

.tasklink{
  color:white;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.chattasker{
  color: #5A5F63;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  padding-right: 30px;
  line-height: 1.5;

  margin-top: 10px;
}


.chatcontainer{
  margin-bottom: 30px;
}

.fade{
  color: #CED3DA;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: default;
}

.bold{
    cursor: default;
}

.linkfade{
  color: #8D959E;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
