
.taskfullpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
   background: #F9FAFB;
}

.tconfirm{
display: flex;
justify-content: center;
margin-top: 20px;
font-size: 24px;
font-family: 'Montserrat', sans-serif;
}

.alldetails{
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  background: white;
  margin: auto;
  border: 1px solid #DCE0E5;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: space-between;
}


.ctcategory{
  font-family: 'Montserrat', sans-serif;
  // margin-left: 30px;
font-weight: bold;
font-size: 24px;
margin-top: 20px;
}


.field{
font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
margin-top: 20px;
color: #000000;
}

.fieldphoto{
  width: 25%;
  height: 15%;
margin-top: 10px;
border: 1px solid #DCE0E5;
  // border-radius: 70%;

}

.userinput{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #7B7D7B;
  text-decoration: none;
}

.taskbutton{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.taskcreatebutton{
  width:25%;
  border: 1px solid #51AF33;
  border-radius: 4px;
  height: 7vh;
  color: #51AF33;
  background: white;
  font-size: 17px;
  &:hover {
  background-color: #438E2A;
  color: white;
}
}

.taskitem{
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  background: white;
  margin: auto;
  border: 1px solid #DCE0E5;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: space-between;
}


.taskindex{
margin: auto;
}
