.formContainer{
  width:100vw;
  height: 260vh;
  background: #F9FAFB;
  text-align: center;
}

.detailheading{
  color: #545e69;
  font-size: 1rem;
  font-weight: normal;
}

.describeTask{
  font-weight: normal;
  font-size: 2rem;
  font-style: inherit;
  -webkit-font-smoothing: antialiased;
  font-family: "Proxima", Arial, Helvetica, sans-serif;
  padding-top: 20px;
}



.weNeed{
  color: #75797D;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 48px;
  padding-bottom: 20px;
}

.whatBrings{
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: .5rem;
  font-weight: 600;
}

.label1{
  flex: 1 1 auto;
  line-height: 1.25em;
}

.span{
  margin: 0;
  padding-left: 10px;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.main{
  color: #F9FAFB;
  width: 100vw;
  height: 100vh;
}

.optionContainer{
  width:1000px;
  margin-right: auto;
  margin-left: auto;
  height: 330px;
  text-align: left;
  justify-content: flex-start;
  background: white;
  border: 1px solid lightgray;
  padding-left: 20px;
  padding-top: 20px;
  color: #242a30;
  font-family: "Proxima", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
}


.ul{
  line-height: 2;
  list-style: none;
  font-family:  "Proxima", Arial, Helvetica, sans-serif;
  color: #64696C;
  font-size: 16px;
  font-weight: 300;
}

.first{
  width:1000px;
  height: 200px;
}

.session-submitdemo{
  width:135px;
  border-radius: 4px;
  height: 49px;
  background: #51AF33;
  color:white;
  font-size: 17px;
  text-align: center;
  padding-top: 9px;
}



.session-submitdemo:hover{
    cursor: pointer;
    background-color: #438E2A;
  }

  .demoaddress{
    width:135px;
    border-radius: 4px;
    height: 49px;
    background: #51AF33;
    color:white;
    font-size: 17px;
    text-align: center;
    padding-top: 9px;
    margin-left: 20px;
  }

  .demoaddress:hover{
      cursor: pointer;
      background-color: #438E2A;
    }

.addressContainer{
  height: 320px;
  width:1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.addressContainerinput{
  height: 9vh;
  width:60vw;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 50px;
  padding-left: 15px;
}

.optionContainer2{
  margin-top: 50px;
  width:1000px;
  margin-right: auto;
  margin-left: auto;
  height: 250px;
  text-align: left;
  justify-content: flex-start;
  background: white;
  border: 1px solid lightgray;
  padding-left: 20px;
  padding-top: 20px;
  color: #242a30;
  font-family: "Proxima", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
}


.optionContainer3{
  margin-top: 50px;
  width:1000px;
  margin-right: auto;
  margin-left: auto;
  height: 275px;
  text-align: left;
  justify-content: flex-start;
  background: white;
  border: 1px solid lightgray;
  padding-left: 20px;
  padding-top: 20px;
  color: #242a30;
  font-family: "Proxima", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;

}


.optionContainer4{
  margin-top: 50px;
  width:1000px;
  margin-right: auto;
  margin-left: auto;
  height: 385px;
  text-align: left;
  justify-content: flex-start;
  background: white;
  border: 1px solid lightgray;
  padding-left: 20px;
  padding-top: 20px;
  color: #242a30;
  font-family: "Proxima", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;

}



.span2{

  line-height: 50px;
  padding-left: 10px;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  margin-right: 130px;
}

.h4{
  border-bottom: 1px solid #DCE0E5;
}

.textarea{
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  height: 95px;
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 125px;
  margin-top: 22px;
  margin-bottom: 20px;
  border-radius: 4px;
   border: 1px solid #B1B9C3;
   font-family: "Proxima", Arial, Helvetica, sans-serif;
}

.h4details{
  font-family: "Proxima", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.5;
  color: #4C5256;
}


.lastcontinue-demo{
  width:230px;
  height: 48px;
  border-radius: 4px;
  background: #51AF33;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  padding-top: 11px;
  margin-bottom: 37px;
  margin-top: 20px;
}

.lastcontinue-demo:hover{
    cursor: pointer;
    background-color: #438E2A;
  }




.linkcontinue{
  color:white;
  font-size: 17px;
  position: relative;
  text-decoration: none;
}



  .oneclass{
    display: flex;
    justify-content: center;
  }



  .tasktype{
    margin-bottom: 50px;
  }

  ::placeholder{
    font-size: 15px;
    color: #8A94A0;
  }

  .formerrors{
      color: #E39075;
      top: 15px;
      font-family: "Proxima", Arial, Helvetica, sans-serif;
  }
