.task{
  // width: 204px;
  // height: 50px;
  // background: #51AF33;
  // color:white;
  width:12vw;
  height: 7vh;
  border-radius: 4px;
  background: #51AF33;
  font-size: 17px;
  position: relative;
  margin-left: 34px;
  top: 20px;
  text-align: center;
  padding-top: 8px;
}

.tasklink{
  color:white;
  text-decoration: none;
}
